<p>master-details-cv works!</p>

<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    <app-list [cvs]="cvSignal() || null"></app-list>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
@defer (on interaction) {
<app-embauche></app-embauche>
} @placeholder {
<div class="alert alert-secondary text-center">
  <button class="btn btn-info"> clickez pour charger le composant embauche</button> 
</div>
} @loading (minimum 5s) {
<div class="alert alert-info text-center">
  <i class="fa fa-refresh fa-spin"></i> Chargement en cours...
</div>
} @error {
<div class="alert alert-danger">
  Erreur lors du chargement du composant embauche
</div>
}

